*{  /* Selecciona todos los elementos */
	margin: 0;  /* Establece el margen en 0 */
	padding: 0;  /* Establece el padding en 0 */
    box-sizing: border-box;
}
/*  * ========================================= */
/*  * =============CABECERA==================== */
/*  * ========================================= */
.cabecera {  /* Selecciona la clase 'cabecera' */
    margin-left: auto; /* Centra el elemento horizontalmente */
    background: linear-gradient(to left, darkgreen, lightgreen); /* fondo fondo degradado a la izquierda de la cabecera de color verde */
    border-radius: 15px;  /* Establece el radio del borde */
}
/*  * ========================================= */
/*  * ==============CUERPO===================== */
/*  * ========================================= */
body{  /* Selecciona el elemento 'body' */
	background:#132333;  /* Establece el color de fondo */
	font-family: verdana;  /* Establece la fuente */
}

.menu {
    border-radius: 5px;  /* Establece el radio del borde */
}
.contenedor, .baner{  /* Selecciona las clases 'contenedor' y 'baner' */
	width: 90%;  /* Establece el ancho */
	margin: 8px auto;  /* Centra el elemento horizontalmente y establece el margen vertical en 8px */
	border-radius:20px;  /* Establece el radio del borde */
  background: linear-gradient(to left, rgb(1, 55, 1), lightgreen); /* fondo degradado a la izquierda de color verde */
}
.baner {
    display: flex;  /* Establece el tipo de visualización del contenedor a flex */
    justify-content: space-between;  /* Distribuye las imágenes a lo largo del eje principal con un espacio igual entre ellas */
}

img {
    border-radius: 15px;  /* Establece el radio del borde */
}

.frase{
	margin: 0 120px;  /* Establece los márgenes alrededor del texto */
	text-align: center;  /* Centra el texto */
	font-style: italic;  /* Establece el estilo de fuente a cursiva */
	color:#329700;  /* Establece el color del texto a un verde oscuro */
}
/*  * ========================================= */
/* INICIO CAJA CONTENEDORA DE IMAGENES DE CURSOS */
/*  * ========================================= */
.servicios{
	width: 312px;  /* Establece el ancho del elemento a 312px */
}

.cajas {
    width: 90%;  /* Establece el ancho del elemento al 90% del contenedor padre */
    display: flex;  /* Establece el tipo de visualización del elemento a flex */
    justify-content: space-around;  /* Distribuye los elementos hijos a lo largo del eje principal con un espacio igual entre ellos */
    margin: 15px 0 0 90px;  /* Establece los márgenes alrededor del elemento */
    padding-left: 20px;  /* Establece el relleno a la izquierda del elemento a 20px */
    border-radius: 15px;  /* Hace que las esquinas del elemento sean redondas */
    overflow: hidden;  /* Oculta el contenido que se desborda del elemento */
    height: 350px;  /* Establece la altura del elemento a 350px */
    color: white;  /* Establece el color del texto a blanco */
    background: linear-gradient(to left, rgb(1, 55, 1), lightgreen); /* fondo degradado a la izquierda de color verde */
}

.izquierda,
.centro,
.derecha {
    flex: 1;  /* Distribuye el espacio de manera equitativa entre los elementos */
    padding-top: 30px;  /* Establece el relleno superior del elemento a 30px */
    margin: 20px;  /* Establece los márgenes alrededor del elemento */
    z-index: 1;  /* Establece el nivel de apilamiento del elemento */
}

/* Ejemplo de media query para pantallas más pequeñas */
@media screen and (max-width: 625px) { /* esto se reacomoda hasta llegar a 625px */
    .cajas {
        flex-direction: column; /* Cambia a una disposición vertical */
        height: auto; /* Ajusta la altura según el contenido */
    }
}

/* La clase .medio añade relleno vertical. */
.medio{
	padding: 14px 0;
}

/* FIN CAJA CONTENEDORA DE IMAGENES DE CURSOS  */
/*  * ========================================= */
/*  *==========INICIO DE OPCIONES============== */
/*  * ========================================= */

.opciones{
	overflow: hidden;  /* Oculta el contenido que se desborda del elemento */
	background: #DAA520; /* fondo  anaranjado */
}
.opciones li{
	float: left; /* distribuye hacia la izquierda  */
	list-style: none;  /* Elimina el estilo de lista predeterminado (como los puntos en las listas desordenadas) */
}
.opciones li a{
	text-decoration: none; /* quita las viñetas de la lista */
	padding: 10px 13px; /* rellena 10px arriba, 13px a la derecha */
	display: block; /* despliega los objetos internos en bloque */
	color: #fff; /* color de texto blanco */
	
}
.opciones li a:hover{
	background: #DAA520; /* fondo de la barra de navegación de anaranjado */
}
/* FIN DE OPCIONES */

.titulo {
	text-align: center;  /* alinea el texto al centro */
	padding: 10px 0; /* rellena 10 pixeles arriba */
	color: #329700; /* color del texto verde */
}
.tit_tem {
    text-align: center;  /* alinea el texto al centro */
    background: -webkit-linear-gradient(left, #163f01, #ffdb7f); /* degradado de verde oscuro a verde claro */
    -webkit-background-clip: text; /* aplica el fondo solo al texto (para navegadores basados en WebKit como Chrome y Safari) */
    -webkit-text-fill-color: transparent; /* hace que el texto sea transparente para que se pueda ver el fondo */
}

/*  * ========================================= */
/*  * =1==========INICIO PAGINA EXCEL========== */
/*  * ========================================= */

.temario {
    max-width: 1250px; /* Ancho máximo para la responsividad */
    /* height: 700px; */ /* define la altura del temario */
    margin: 0 auto; /* Centra horizontalmente */
    border: 5px dashed #DAA520; /* color del borde punteado */
    display: flex; /*  */
  }
  
  ol, li {
    color: #73f433; /* color del texto */
  }
  
  .tit, a {
    color: #329700; /* color del texto */
  }
  
  .tem1, .tem2  {  /*cajas que contienen el temario */
    max-width: 550px; /* Ancho máximo para la responsividad */
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 650px; /*Alto de las cajas que contienen el temario */
    padding: 15px 15px 5px 15px; /* *Relleno de cada caja en el temario top, right, buttom, left*/
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #302e2e;
    background-image: linear-gradient(50deg, transparent 90%,
                      rgb(151, 179, 207) 100% 85%, transparent 95%);
    margin: auto;
  }
/*  * ========================================= */
/*  * ============FIN PAGINA EXCEL============= */
/*  * ========================================= */

/*  * ========================================= */
/*  * =2==========INICIO PAGINA WORD=========== */
/*  * ========================================= */


.cabecera-W {  /* Selecciona la clase 'cabecera' */
    margin-left: auto; /* Centra el elemento horizontalmente */
    background: linear-gradient(to left, rgb(90, 90, 248), #3695D9); /* fondo fondo degradado a la izquierda de la cabecera de color verde */
    border-radius: 15px;  /* Establece el radio del borde */
}
/* La clase .medio añade relleno vertical. */
.medio-W{
	padding: 14px 0;
}
.contenedor-W, .baner-W{  /* Selecciona las clases 'contenedor' y 'baner' */
	width: 90%;  /* Establece el ancho */
	margin: 8px auto;  /* Centra el elemento horizontalmente y establece el margen vertical en 8px */
	border-radius:20px;  /* Establece el radio del borde */
    /* background: linear-gradient(to left, rgb(1, 55, 1), lightgreen);  *//* fondo degradado a la izquierda de color verde */
}
.baner-W {
    display: flex;  /* Establece el tipo de visualización del contenedor a flex */
    justify-content: space-between;  /* Distribuye las imágenes a lo largo del eje principal con un espacio igual entre ellas */
}
.baner-W {
    width: 90%;  /* Establece el ancho */
	margin: 8px auto;  /* Centra el elemento horizontalmente y establece el margen vertical en 8px */
	border-radius:20px;  /* Establece el radio del borde */
    display: flex;  /* Establece el tipo de visualización del contenedor a flex */
    justify-content: space-between;  /* Distribuye las imágenes a lo largo del eje principal con un espacio igual entre ellas */
    background: linear-gradient(to left, rgb(90, 90, 248), #3695D9); /* fondo degradado a la izquierda de color verde */
}

/* La clase .titulo centra el texto y añade relleno vertical y color verde al texto. */
.titulo-W {
	text-align: center;
	padding: 10px 0;
	color: #fff;
} 
.tit_tem-W {
    text-align: center;  /* alinea el texto al centro */
    background: -webkit-linear-gradient(left, #00BFFF, #7B68EE); /* degradado de verde oscuro a verde claro */
    -webkit-background-clip: text; /* aplica el fondo solo al texto (para navegadores basados en WebKit como Chrome y Safari) */
    -webkit-text-fill-color: transparent; /* hace que el texto sea transparente para que se pueda ver el fondo */
}
/* La clase .frase centra el texto, lo pone en cursiva, y lo colorea de verde. También añade márgenes horizontales. */
.frase-W{
	margin: 0 120px;
	text-align: center;
	font-style: italic;
	color:#fff;
}

.temario-W {
    max-width: 1250px; /* Ancho máximo para la responsividad */
    height: 700px;
    margin: 0 auto; /* Centra horizontalmente */
    border: 4px dashed white;
    display: flex;
    background: #3695D9;
  }

.tit-W, a {
    color: #fff;
    /* color: #fff; */
  }
  /* Estos son los Div*/
  .tem1-W, .tem2-W, .tem3-W {
    max-width: 400px; /* Ancho máximo para la responsividad */
    height: 650px;
    padding: 5px 15px 5px 5px;
    display: flex;
    justify-content: center;
    border: 2px solid green;
    overflow: hidden;
    background-color: #285598;
    background-image: linear-gradient(50deg, transparent 90%,
                      rgb(151, 179, 207) 100% 85%, transparent 95%);
    margin: auto;
  }
  
  .tem1-W {
    margin: 15px 15px 15px 30px; /* Espacio entre los divs */
    width: 80%;
  }
  .tem2-W {
    margin: 15px 15px 15px 15px; /* Espacio entre los divs */
    width: 95%;
  }
  .tem3-W {
    margin: 15px 15px 15px 20px; /* Espacio entre los divs */
    width: 80%;
  }
  @media (max-width: 768px) {
    .tem1-W, .tem2-W, .tem3-W {
      max-width: 100%; /* Ajusta el ancho al 100% para pantallas más pequeñas */
      height: auto; /* Altura automática para adaptarse al contenido */
      padding: 5px; /* Ajuste de padding para pantallas más pequeñas */
    }
  }


/*  * ========================================= */
/*  * ============FIN PAGINA WORD============== */
/*  * ========================================= */


/*  * ========================================= */
/*  * =3==========INICIO PAGINA ACCESS========= */
/*  * ========================================= */

.cabecera-A {  /* Selecciona la clase 'cabecera' */
    margin-left: auto; /* Centra el elemento horizontalmente */
    background: linear-gradient(to left, #941403, #d37280); /* fondo fondo degradado a la izquierda de la cabecera de color verde */
    border-radius: 15px;  /* Establece el radio del borde */
}
/* La clase .medio añade relleno vertical. */
.medio-A{
	padding: 14px 0;
}
.contenedor-A, .baner-A{  /* Selecciona las clases 'contenedor' y 'baner' */
	width: 90%;  /* Establece el ancho */
	margin: 8px auto;  /* Centra el elemento horizontalmente y establece el margen vertical en 8px */
	border-radius:20px;  /* Establece el radio del borde */
    /* background: linear-gradient(to left, rgb(1, 55, 1), lightgreen);  *//* fondo degradado a la izquierda de color verde */
}
.baner-A {
    display: flex;  /* Establece el tipo de visualización del contenedor a flex */
    justify-content: space-between;  /* Distribuye las imágenes a lo largo del eje principal con un espacio igual entre ellas */
}
.baner-A {
    width: 90%;  /* Establece el ancho */
	margin: 8px auto;  /* Centra el elemento horizontalmente y establece el margen vertical en 8px */
	border-radius:20px;  /* Establece el radio del borde */
    display: flex;  /* Establece el tipo de visualización del contenedor a flex */
    justify-content: space-between;  /* Distribuye las imágenes a lo largo del eje principal con un espacio igual entre ellas */
    background: linear-gradient(to left, #941403, #d37280); /* fondo degradado a la izquierda de color verde */
}

/* La clase .titulo centra el texto y añade relleno vertical y color verde al texto. */
.titulo-A {
	text-align: center;
	padding: 10px 0;
	color: #fff;
} 
.tit_tem-A {
    text-align: center;  /* alinea el texto al centro */
    background: -webkit-linear-gradient(left, #941403, #654dee); /* degradado de verde oscuro a verde claro */
    -webkit-background-clip: text; /* aplica el fondo solo al texto (para navegadores basados en WebKit como Chrome y Safari) */
    -webkit-text-fill-color: transparent; /* hace que el texto sea transparente para que se pueda ver el fondo */
}
/* La clase .frase centra el texto, lo pone en cursiva, y lo colorea de verde. También añade márgenes horizontales. */
.frase-A{
	margin: 0 120px;
	text-align: center;
	font-style: italic;
	color:#fff;
}

.temario-A {
    max-width: 1250px; /* Ancho máximo para la responsividad */
    height: 700px;
    margin: 0 auto; /* Centra horizontalmente */
    border: 5px dashed white;
    display: flex;
    background: #941403;
  }

.tit-A, a {
    color: #fff;
    /* color: #fff; */
  }
  /* Estos son los Div*/
  .tem1-A, .tem2-A {
    max-width: 550px; /* Ancho máximo para la responsividad */
    height: 650px;
    padding: 5px 15px 5px 5px;
    display: flex;
    justify-content: center;
    border: 2px solid green;
    overflow: hidden;
    background-color: #941403;
    background-image: linear-gradient(50deg, transparent 90%,
                      rgb(151, 179, 207) 100% 85%, transparent 95%);
    margin: auto;
  }
  
  .tem1-A{
    margin: 15px 15px 15px 30px; /* Espacio entre los divs */
    width: 80%;
  }
  .tem2-A {
    margin: 15px 15px 15px 15px; /* Espacio entre los divs */
    width: 95%;
  }
  
  @media (max-width: 768px) {
    .tem1-A, .tem2-A {
      max-width: 100%; /* Ajusta el ancho al 100% para pantallas más pequeñas */
      height: auto; /* Altura automática para adaptarse al contenido */
      padding: 5px; /* Ajuste de padding para pantallas más pequeñas */
    }
  }

/*  * ========================================= */
/*  * ============FIN PAGINA ACCESS============ */
/*  * ========================================= */


/*  * ========================================= */
/*  * =4==========INICIO PAGINA PROJECT======== */
/*  * ========================================= */


.cabecera-P {  /* Selecciona la clase 'cabecera' */
    margin-left: auto; /* Centra el elemento horizontalmente */
    background: linear-gradient(to left, rgb(90, 90, 248), #0E713A); /* fondo fondo degradado a la izquierda de la cabecera de color verde */
    border-radius: 15px;  /* Establece el radio del borde */
}
/* La clase .medio añade relleno vertical. */
.medio-P{
	padding: 14px 0;
}
.contenedor-P, .baner-P{  /* Selecciona las clases 'contenedor' y 'baner' */
	width: 90%;  /* Establece el ancho */
	margin: 8px auto;  /* Centra el elemento horizontalmente y establece el margen vertical en 8px */
	border-radius:20px;  /* Establece el radio del borde */
    /* background: linear-gradient(to left, rgb(1, 55, 1), lightgreen);  *//* fondo degradado a la izquierda de color verde */
}
.baner-P {
    display: flex;  /* Establece el tipo de visualización del contenedor a flex */
    justify-content: space-between;  /* Distribuye las imágenes a lo largo del eje principal con un espacio igual entre ellas */
}
.baner-P {
    width: 90%;  /* Establece el ancho */
	margin: 8px auto;  /* Centra el elemento horizontalmente y establece el margen vertical en 8px */
	border-radius:20px;  /* Establece el radio del borde */
    display: flex;  /* Establece el tipo de visualización del contenedor a flex */
    justify-content: space-between;  /* Distribuye las imágenes a lo largo del eje principal con un espacio igual entre ellas */
    background: linear-gradient(to left, rgb(90, 248, 101), #0E713A); /* fondo degradado a la izquierda de color verde */
}
.baner img  {
    /* height: 50%; */
}

/* La clase .titulo centra el texto y añade relleno vertical y color verde al texto. */
.titulo-P{
	text-align: center;
	padding: 10px 0;
	color: #fff;
} 
.tit_tem-P{
    text-align: center;  /* alinea el texto al centro */
    background: -webkit-linear-gradient(left, #32C581, #0E713A); /* degradado de verde oscuro a verde claro */
    -webkit-background-clip: text; /* aplica el fondo solo al texto (para navegadores basados en WebKit como Chrome y Safari) */
    -webkit-text-fill-color: transparent; /* hace que el texto sea transparente para que se pueda ver el fondo */
}
/* La clase .frase centra el texto, lo pone en cursiva, y lo colorea de verde. También añade márgenes horizontales. */
.frase-P{
	margin: 0 120px;
	text-align: center;
	font-style: italic;
	color:#fff;
}

.temario-P {
    max-width: 1250px; /* Ancho máximo para la responsividad */
    height: 700px;
    margin: 0 auto; /* Centra horizontalmente */
    border: 4px dashed white;
    display: flex;
    background: #0E713A;
  }

.tit-P, a {
    color: #fff;
    /* color: #fff; */
  }
  /* Estos son los Div*/
  .tem1-P, .tem2-P {
    max-width: 550px; /* Ancho máximo para la responsividad */
    height: 670px;
    padding: 5px 15px 5px 5px;
    display: flex;
    justify-content: center;
    border: 3px solid green;
    overflow: hidden;
    background-color: #0E713A;
    background-image: linear-gradient(50deg, transparent 90%,
                      rgb(151, 179, 207) 100% 85%, transparent 95%);
    margin: auto;
  }
  
  .tem1-P {
    margin: 15px 15px 15px 30px; /* Espacio entre los divs */
    width: 80%;
  }
  .tem2-P {
    margin: 15px 15px 15px 15px; /* Espacio entre los divs */
    width: 95%;
  }
  
  @media (max-width: 768px) {
    .tem1-P, .tem2-P {
      max-width: 100%; /* Ajusta el ancho al 100% para pantallas más pequeñas */
      height: auto; /* Altura automática para adaptarse al contenido */
      padding: 5px; /* Ajuste de padding para pantallas más pequeñas */
    }
  }
  

/*  * ========================================= */
/*  * ============FIN PAGINA PROJECT=========== */
/*  * ========================================= */


/*  * ========================================= */
/*  * =5==========INICIO PAGINA AUTOCAD======== */
/*  * ========================================= */

  .cabecera-cad {
  margin-left: auto;
  }

   .img-cad {
    border: 1px solid white;
    width: 335px;
    margin-left: 410px;
  }

  .baner-cad {
    width: 100%;

  }
  
    
  /* La clase .medio añade relleno vertical. */
  .medio-cad{
  padding: 14px 0;
  }
  
  /* La clase .pie define el fondo del pie de página. */
  .pie{
  background: #08121f;
  }
  
  /* La clase .derechos define el color del texto y el relleno para la sección de derechos de autor. */
  /* .derechos-cad{
  color: #fff;
  padding: 10px 30px;
  } */
  
  /* La clase .opciones oculta el desbordamiento y tiene un fondo dorado. */
  .opciones-cad{
  overflow: hidden;
  background: #DAA520;
  }
  
  /* Cada elemento li dentro de .opciones se flota a la izquierda y no muestra estilos de lista. */
  .opciones li{
  float: left;
  list-style: none;
  }
  
  /* Los enlaces dentro de los elementos li de .opciones tienen un estilo sin subrayado, con relleno, se muestran como bloques y tienen un fondo dorado con texto blanco. */
  .opciones li a{
  text-decoration: none;
  padding: 10px 13px;
  display: block;
  background-color: #DAA520;
  color: #fff;
  }
  
  /* Cambia el fondo de los enlaces en .opciones al pasar el ratón por encima. */
  .opciones li a:hover{
  background: #3695D9;
  }
  
 
  /* La clase .titulo centra el texto y añade relleno vertical y color verde al texto. */
  .titulo-cad {
  text-align: center;
  padding: 10px 0;
  color: white;
  } 
  
  /* La clase .frase centra el texto, lo pone en cursiva, y lo colorea de verde. También añade márgenes horizontales. */
  .frase-cad {
  margin: 0 120px;
  text-align: center;
  font-style: italic;
  color:white;
  }
  
  /* La clase .subtitulo centra el texto de los subtítulos. */
  .subtitulo-cad {
  text-align: center;
  }
  
  
  @media (max-width: 1250px) {
  .temario-cad {
    width: 50%; /* Ajusta el ancho al 100% para pantallas más pequeñas */
    /* Ajustes adicionales para responsividad */
  }
  }
  
  ol, li {
  color: #73f433;
  }
  
  .tit-cad, a {
  color: #329700;
  }
  /* Estos son los Div*/
  .tem1-cad, .tem2-cad {
  max-width: 1050px; /* Ancho máximo para la responsividad */
  width: 70%; /* Ajusta el ancho al 100% del contenedor */
  height: 550px;
  padding: 5px 5px 5px 5px;
  display: flex;
  padding-left: 35px;
  /* justify-content: center; */
  border: 2px solid green;
  overflow: hidden;
  background-color: #302e2e;
  font-size: 12px;
  background-image: linear-gradient(50deg, transparent 90%,
            rgb(151, 179, 207) 100% 85%, transparent 95%);
  margin: auto;
  }
  
  .tem1-cad {
  margin: 15px 20px 15px 30px; /* Espacio entre los divs */
  }
  .tem2-cad {
  margin: 15px 15px 15px 10px; /* Espacio entre los divs */
  }
  @media (max-width: 768px) {
  .tem1-cad, .tem2-cad {
    max-width: 100%; /* Ajusta el ancho al 100% para pantallas más pequeñas */
    height: auto; /* Altura automática para adaptarse al contenido */
    padding: 5px; /* Ajuste de padding para pantallas más pequeñas */
  }
  }
  ul {
  list-style-type: none;
  }

/*  * ========================================= */
/*  * ============FIN PAGINA AUTOCAD=========== */
/*  * ========================================= */


/*  * ========================================= */
/*  * =6==========INICIO PAGINA PROTEUS======== */
/*  * ========================================= */


.cabecera-Pr {  /* Selecciona la clase 'cabecera' */
    margin-left: auto; /* Centra el elemento horizontalmente */
    background: linear-gradient(to left, rgb(68, 8, 75), #35034a); /* fondo fondo degradado a la izquierda de la cabecera de color verde */
    border-radius: 15px;  /* Establece el radio del borde */
}
/* La clase .medio añade relleno vertical. */
.medio-Pr {
	padding: 14px 0;
}
.contenedor-Pr, .baner-Pr{  /* Selecciona las clases 'contenedor' y 'baner' */
	width: 90%;  /* Establece el ancho */
	margin: 8px auto;  /* Centra el elemento horizontalmente y establece el margen vertical en 8px */
	border-radius:20px;  /* Establece el radio del borde */
    /* background: linear-gradient(to left, rgb(1, 55, 1), lightgreen);  *//* fondo degradado a la izquierda de color verde */
}
.baner-Pr {
    display: flex;  /* Establece el tipo de visualización del contenedor a flex */
    justify-content: space-between;  /* Distribuye las imágenes a lo largo del eje principal con un espacio igual entre ellas */
}
.baner-Pr {
    width: 90%;  /* Establece el ancho */
	margin: 8px auto;  /* Centra el elemento horizontalmente y establece el margen vertical en 8px */
	border-radius:20px;  /* Establece el radio del borde */
    display: flex;  /* Establece el tipo de visualización del contenedor a flex */
    justify-content: space-between;  /* Distribuye las imágenes a lo largo del eje principal con un espacio igual entre ellas */
    background: linear-gradient(to left, rgb(68, 8, 75), #35034a); /* fondo degradado a la izquierda de color verde */
}
.baner img  {
    /* height: 50%; */
}

/* La clase .titulo centra el texto y añade relleno vertical y color verde al texto. */
.titulo-Pr {
	text-align: center;
	padding: 10px 0;
	color: #fff;
} 
.tit_tem-Pr {
    text-align: center;  /* alinea el texto al centro */
    background: -webkit-linear-gradient(left, #d7d7d7, #35034a); /* degradado de verde oscuro a verde claro */
    -webkit-background-clip: text; /* aplica el fondo solo al texto (para navegadores basados en WebKit como Chrome y Safari) */
    -webkit-text-fill-color: transparent; /* hace que el texto sea transparente para que se pueda ver el fondo */
}
/* La clase .frase centra el texto, lo pone en cursiva, y lo colorea de verde. También añade márgenes horizontales. */
.frase-Pr {
	margin: 0 120px;
	text-align: center;
	font-style: italic;
	color:#fff;
}

.temario-Pr {
    max-width: 1250px; /* Ancho máximo para la responsividad */
    height: 700px;
    margin: 0 auto; /* Centra horizontalmente */
    border: 4px dashed white;
    display: flex; /* coloca los div en fila */
    background: #35034a; /* color de fondo del temario */
  }

.tit-Pr, a {
    color: #fff;
    /* color: #fff; */
  }
  /* Estos son los Div*/
  .tem1-Pr, .tem2-Pr{
    max-width: 550px; /* Ancho máximo para la responsividad */
    height: 670px;
    padding: 5px 15px 5px 5px;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    overflow: hidden; /*  */
    background-color: #35034a;
    background-image: linear-gradient(50deg, transparent 90%,
                      rgb(151, 179, 207) 100% 85%, transparent 95%);
    margin: auto;
  }
  
  .tem1-Pr {
    margin: 15px 15px 15px 30px; /* Espacio entre los divs */
    width: 80%;
  }
  .tem2-Pr {
    margin: 15px 15px 15px 15px; /* Espacio entre los divs */
    width: 95%;
  }
  
  @media (max-width: 768px) {
    .tem1-Pr, .tem2-Pr {
      max-width: 100%; /* Ajusta el ancho al 100% para pantallas más pequeñas */
      height: auto; /* Altura automática para adaptarse al contenido */
      padding: 5px; /* Ajuste de padding para pantallas más pequeñas */
    }
  }

/*  * ========================================= */
/*  * ============FIN PAGINA PROTEUS=========== */
/*  * ========================================= */


/*  * ========================================= */
/*  * =7==========INICIO PAGINA CONTACTO======= */
/*  * ========================================= */

.cabecera-C {
  width: 90%;  /* Establece el ancho */
	margin: 8px auto;  /* Centra el elemento horizontalmente y establece el margen vertical en 8px */
	border-radius:20px;  /* Establece el radio del borde */
  background: linear-gradient(to left, rgb(1, 55, 1), lightgreen); /* fondo degradado a la izquierda de color verde */
}
.baner img {
  max-width: 100%;
  height: auto;
}

.opciones{
	overflow: hidden;
	background: #DAA520;
}
.opciones li{
	float: left;
	list-style: none;
}
.opciones li a{
	text-decoration: none;
	padding: 10px 13px;
	display: block;
	color: #fff;
}
.opciones li a:hover{
	background: #DAA520;
}
.medio{
	padding: 14px 0;
}
.titulo {
	text-align: center;
	padding: 10px 0;
	color: white;
}
.frase{
	margin: 0 120px;
	text-align: center;
	font-style: italic;
	color:white;
}

.servicios:hover{transform:rotate(360deg);
    transition:all 1s;
}
/* Hoja paginas */
/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 */
*{
   /*  margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para el contenedor que alberga figuras triangulares */
.container__background-triangle{
   max-width: 1200px;  /* Ancho máximo del contenedor */
    /* height: 600px; */ /* Altura fija de 600px */
    margin: auto; /* Centra el contenedor horizontalmente */
   /*  position: fixed; */ /* Posición fija en la ventana de visualización */
   top: 65%; /* Posiciona el contenedor al 50% desde la parte superior */
    left: 45%; /* Posiciona el contenedor al 50% desde la izquierda */
   transform: translate(50%, 50%); /* Centra el contenedor exactamente en el medio */
}

/* Estilos base para las figuras triangulares */
.triangle{
    width: 300px; /* Ancho fijo de 300px */
    height: 300px; /* Altura fija de 300px */
    background: red; /* Color de fondo rojo */
    position: absolute; /* Posición absoluta para superponerse a otros elementos */
}

/* Estilos para la primera figura triangular */
.triangle1{
    width: 250px; /* Ancho fijo de 250px */
    height: 250px; /* Altura fija de 250px */
    background: linear-gradient(to left, #0ee632, #037557); /* Gradiente de fondo azul */
    right: 1450px;  /* Posiciona la figura a 100px desde la derecha */
    top: 100px; /* Posiciona la figura a 100px desde la parte superior */
    animation: t1 8s ease infinite; /* Aplica una animación llamada 't1' */
}

/* Estilos para la segunda figura triangular */
.triangle2{
    width: 200px; /* Ancho fijo de 200px */
    height: 200px; /* Altura fija de 200px */
    background: linear-gradient(to left, #940303, #b31d0286); /* Gradiente de fondo naranja-rojo */
    top: 350px; /* Posiciona la figura a 350px desde la parte superior */
    animation: t2 9s ease infinite; /* Aplica una animación llamada 't2' */
}

/* Estilos para la tercera figura triangular */
.triangle3{
    width: 300px; /* Ancho fijo de 300px */
    height: 300px; /* Altura fija de 300px */
    background: linear-gradient(to left, #1b8fc5, #700fdf); /* Gradiente de fondo azul-rosa */
    left: 200px; /* Posiciona la figura a 200px desde la izquierda */
    animation: t3 7s ease infinite; /* Aplica una animación llamada 't3' */
}

/* Define los fotogramas clave para la animación 't1' */
@keyframes t1 {
    0%{
        transform: rotate(60deg) translateY(0px); /* Inicia sin desplazamiento vertical */
    }
    50%{
        transform: rotate(75deg) translateY(20px); /* Se desplaza 20px hacia abajo */
    }
    100%{
        transform: rotate(35deg) translateY(0px); /* Vuelve a la posición inicial */
    }
}

/* Define los fotogramas clave para la animación 't2' */
@keyframes t2 {
    0%{
        transform: rotate(60deg) translateY(0px); /* Inicia sin desplazamiento vertical */
    }
    50%{
        transform: rotate(75deg) translateY(20px); /* Se desplaza 20px hacia abajo */
    }
    100%{
        transform: rotate(35deg) translateY(0px); /* Vuelve a la posición inicial */
    }
}

/* Define los fotogramas clave para la animación 't3' */
@keyframes t3 {
    0%{
        transform: rotate(60deg) translateY(0px); /* Inicia sin desplazamiento vertical */
    }
    50%{
        transform: rotate(75deg) translateY(20px); /* Se desplaza 20px hacia abajo */
    }
    100%{
        transform: rotate(35deg) translateY(0px); /* Vuelve a la posición inicial */
    }
}

/* Estilos para el contenedor que alberga las tarjetas */
.container__cards{
    width:100%; /* Ocupa el ancho completo de su contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
    display: flex; /* Utiliza Flexbox para la disposición de los elementos internos */
    flex-wrap: wrap; /* Permite que los elementos se pasen a la siguiente línea si no caben */
    justify-content: center; /* Centra los elementos horizontalmente */
   /*  position: absolute; */ /* Posición absoluta para superponerse a otros elementos */
    top: 50%; /* Posiciona el contenedor al 50% desde la parte superior */
    left: 50%; /* Posiciona el contenedor al 50% desde la izquierda */
   /*  transform: translate(-50%, -50%); */ /* Centra el contenedor exactamente en el medio */
}

/* Estilos para cada tarjeta individual */
.card{
    width: 350px; /* Ancho fijo de 350px */
    margin: 10px; /* Margen alrededor de cada tarjeta */
    padding: 20px; /* Relleno alrededor del contenido de la tarjeta */
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5); /* Sombra para dar efecto de profundidad */
    background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    border-left: 1px solid rgba(255, 255, 255, 0.5); /* Borde izquierdo más claro */
    border-top: 1px solid rgba(255, 255, 255, 0.5); /* Borde superior más claro */
    border-radius: 15px; /* Bordes redondeados */
    backdrop-filter: blur(5px); /* Efecto de desenfoque detrás de la tarjeta */
    -webkit-backdrop-filter: blur(5px); /* Efecto de desenfoque para navegadores Webkit */
    transition: all 300ms; /* Transición suave para todos los cambios de estilo */
}

/* Estilos para la tarjeta al pasar el cursor sobre ella */
.card:hover{
    transform: translateY(-10px); /* Desplaza la tarjeta hacia arriba */
}

/* Estilos para la imagen de la tarjeta al pasar el cursor sobre ella */
.card:hover .cover__card img{
    transform: scale(1.1); /* Aumenta el tamaño de la imagen */
}

/* Estilos para la cubierta de la tarjeta */
.cover__card{
    width: 100%; /* Ancho completo de la tarjeta */
    height: 180px; /* Altura fija de 180px */
    border-radius: 14px; /* Bordes redondeados */
    overflow: hidden; /* Oculta el contenido que se desborda */
    border: 1px solid red;
}

/* Estilos para la imagen dentro de la cubierta de la tarjeta */
.cover__card img{
    width: 60%; /* Ancho ligeramente mayor para permitir el efecto de zoom */
    /* transition: all 300ms; */ /* Transición suave para todos los cambios de estilo */
    display: block; /* Hace que la imagen sea un bloque para aplicar el centrado de texto */
    margin-left: auto; /* Margen automático a la izquierda */
    margin-right: auto; /* Margen automático a la derecha */
}

/* Estilos para el encabezado h2 dentro de la tarjeta */
.card h2{
    font-size: 20px; /* Tamaño de fuente de 20px */
    font-weight: 400; /* Peso de la fuente normal */
    margin-top: 20px; /* Margen superior de 20px */
    color: #0ee632; /* Texto blanco */
}
.card-1 {
  margin-top: 170px;
}
/* Estilos para el párrafo dentro de la tarjeta */
.card p{
    margin-top: 20px; /* Margen superior de 20px */
    font-size: 14px; /* Tamaño de fuente de 14px */
    font-weight: 300; /* Peso de la fuente ligero */
    color: #fff; /* Texto blanco */
    letter-spacing: 0.5px; /* Espaciado entre letras de 0.5px */
}

/* Estilos para la línea horizontal dentro de la tarjeta */
.card hr{
    margin-top: 30px; /* Margen superior de 30px */
    border: none; /* Sin bordes */
    height: 0.2px; /* Altura de la línea */
    background: #41414138; /* Color de fondo semitransparente para la línea */
}

/* Estilos para el pie de la tarjeta */
.footer__card{
    margin-top: 10px; /* Margen superior de 10px */
    display: flex; /* Utiliza Flexbox para la disposición de los elementos internos */
    color: #fff; /* Texto blanco */
    justify-content: space-between;
}

/* Estilos para los encabezados h3 dentro del pie de la tarjeta */
.footer__card h3{
    font-size: 15px; /* Tamaño de fuente de 15px */
    font-weight: 500; /* Peso de la fuente medio */
}

/* Estilos para el contenedor de tarjetas cuando la pantalla tiene un ancho máximo de 1200px */
@media screen and (max-width:1200px) {
    .container__cards{
        position: relative; /* Posición relativa para ajustes de posicionamiento */
        top: 0; /* Posiciona el contenedor en su posición original */
        left: 0; /* Posiciona el contenedor en su posición original */
        transform: none; /* Elimina cualquier transformación aplicada previamente */
        margin-top: 100px; /* Margen superior de 100px */
        padding-bottom: 100px; /* Relleno inferior de 100px */
    }
}

#myButton {
  width: 120px;
  height: 25px;
  border-radius: 20px;
  background-color: #0ee632;
}

#mybutton::hover {
  background-color: #113002;
}

/*  * ========================================= */
/*  * ============FIN PAGINA CONTACTO========== */
/*  * ========================================= */

/*  * ========================================= */
/*  * ============FORMULARIO================ */
/*  * ========================================= */

.contenedor-f {
  width: 45%;  /* Establece el ancho */
	margin: 8px auto;  /* Centra el elemento horizontalmente y establece el margen vertical en 8px */
	border-radius:20px;  /* Establece el radio del borde */
  background: linear-gradient(to left, rgb(1, 55, 1), lightgreen); /* fondo degradado a la izquierda de color verde */
  border:4px solid white;
}
.cabecera-f {
  background: #329700;
  color:azure;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
  border-radius: 15px;
}
#formulario {
  padding: 30px 20px;
}

.form-control {    
  margin-bottom: 7px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 7px;
  font:weight 200px
}

.form-control input {
  border: none;
  background-color: #f0f0f0;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 12px;
  width: 100%;
  border-radius: 15px;
}
.form-control, input:focus {
  outline: none;
}

.form-control.ok input {
  border: 0.1px solid;
  border-color: #2ab99a;
}
.form-control.falla input {
  border: 0.1px solid;
  border-color: #fe5f55;
}

#formulario button {
  background: #329700;
  border:1px solid #329700;
  border-radius: 10px;
  color: #f6f6e9;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
}
.form-control p {
  visibility: hidden;
  position: absolute;
  font-size: small;
  font-weight: 500;
  text-align: right;
}

.form-control.falla p {
  visibility: visible;
  color:#8b1204;
}
.gradiente:hover {
  background: linear-gradient(to right, rgb(150, 252, 150), rgb(255, 175, 28));
}   
/* .gradiente {
background: linear-gradient(to bottom, yellow, orange);
}
.horizontal-gradient {
background: linear-gradient(to right, #FF0000, #0000FF);
}
.diagonal-gradient {
background: linear-gradient(to bottom right, #FF0000, #0000FF);
}
.angled-gradient {
background: linear-gradient(70deg, #FF0000, #0000FF);
} */

/*  * ========================================= */
/*  * ============FIN PAGINA CONTACTO========== */
/*  * ========================================= */


/*  * ========================================= */
/*  * ============INICIO PIE DE PAGINA========= */
/*  * ========================================= */
.pie{
    width: 90%;  /* Establece el ancho del elemento al 90% del contenedor padre */
	/* background: #788596; */  /* Establece el color de fondo del elemento a un gris azulado */
    background: linear-gradient(to left, rgb(1, 55, 1), #788596);
    border-radius: 15px;  /* Hace que las esquinas del elemento sean redondas */
    margin: 15px 0 0 90px;  /* Establece los márgenes alrededor del elemento */
    display: flex;  /* Establece el tipo de visualización del elemento a flex */
    justify-content: space-between;  /* Distribuye los elementos hijos a lo largo del eje principal con un espacio igual entre ellos */
}
.derechos{
	color: #fff;  /* Establece el color del texto a blanco */
	padding: 10px 30px;  /* Establece el relleno alrededor del texto */
  font-size: 16px;
}
.pie-social-icons a {
    border-radius: 50%;  /* Hace que las esquinas del enlace sean redondas, creando un efecto de círculo */
    margin-left: 25px;  /* Establece un margen a la izquierda del enlace */
    color: inherit;  /* Hereda el color del elemento padre */
    display: flex;  /* Establece el tipo de visualización del enlace a flex */
    height: 1em;  /* Establece la altura del enlace a 1em (el tamaño actual de la fuente) */
    line-height: 2em;  /* Establece la altura de línea del enlace a 2em (dos veces el tamaño actual de la fuente) */
    text-align: center;  /* Centra el texto dentro del enlace */
    transition: background-color .15s ease;  /* Añade una transición al color de fondo del enlace que dura .15 segundos */
    width: 2em;  /* Establece el ancho del enlace a 2em (dos veces el tamaño actual de la fuente) */
}
.pie-social-icons li {
    display: inline;  /* Hace que los elementos de la lista se muestren en línea */
}
.col-sm-3 {
    min-height: 1px;  /* Establece la altura mínima del elemento a 1px */
    padding-top: 15px;  /* Establece el relleno superior del elemento a 15px */
    padding-right: 10px;  /* Establece el relleno derecho del elemento a 10px */
    position: relative;  /* Establece la posición del elemento a relativa */
    float:right;  /* Hace que el elemento flote a la derecha */
    width: 15%  /* Establece el ancho del elemento al 15% del contenedor padre */
}
.servicios:hover  {  /* Selecciona la clase 'servicios' cuando se pasa el cursor sobre ella */
	transform:rotate(360deg);  /* Rota el elemento 360 grados */
    transition:all 1s;  /* Establece la duración de la transición en 1 segundo */
    
}
.subtitulo a:hover {
    color: #ff0000;  /* Cambia el color del texto a rojo */
    transition: all 1s;  /* Establece la duración de la transición en 1 segundo */
}

.img-pie {
    border: 1px solid white;  /* Establece el borde del elemento a 1px y de color blanco */
    display: flex;  /* Establece el tipo de visualización del elemento a flex */
    justify-content: space-evenly;  /* Distribuye los elementos hijos a lo largo del eje principal con un espacio igual entre ellos */
    height: 170px;  /* Establece la altura del elemento a 170px */
}

#pie2 {
padding: 10px;
}
.col-sm-3 {
  padding: 25px 10px;
}
#copy {
  padding: 10px;
}

/*  * ========================================= */
/*  * ============FIN PIE DE PAGINA============ */
/*  * ========================================= */


